/**
 * Created with JetBrains WebStorm.
 * User: wuqinglong
 * mail: hellowql@126.com
 * Date: 13-4-25
 * Time: 下午12:46
 * Version: 0.1
 */

* {
    margin: 0;
    padding: 0;
}

#main {
    width: 500px;
    height: 500px;
    margin: 50px 30%;
    border: 1px solid green;
}

div {
    width: 248px;
    height: 248px;
    border: 1px solid #9acd32;
    background-color: #dcdcdc;
    float: left;
}

span {
    margin: 30% auto;
    border: 2px solid red;
    overflow: hidden;
    display: block;
}

#span1, #span2 {
    width: 50px;
    height: 32px;
}

#span1 li, #span2 li {
    width: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#span3, #span4 {
    width: 112px;
    height: 22px;
    list-style: none;
}

#span3 ul, #span4 ul {
    width: 600px;
    height: 20px;
    border: 1px solid #8a2be2;
    list-style: none;
}

#span3 li, #span4 li {
    float: left;
    width: 56px;
    height: 20px;
    margin: 0 auto;
    list-style: none;
}